body {
    align-content: center;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    margin: 0 0 0 0;
}

ul {
    list-style-type: none;
    align-content: center;
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
}

li {
    float: left;
    margin-right: 2px;
    align-content: center;
}

ul.full_square li {
    border: 6px solid rgb(22, 148, 106);
}

ul.empty_square li {
    border: 1px solid rgb(22, 148, 106);
    width: 10px;
    height: 10px;
}

.form, .procentage {
    float: left;
    height: 140px;
    margin-right: 20px;
    border: 1px solid rgb(22, 148, 106);
    border-radius: 15px;
    padding: 5px;
}

.date {
    
}


.enter, .week_result {
    border: 2px solid rgb(22, 148, 106);
    border-radius: 15px;
    padding: 20px;
    float: left;
    margin-right: 20px;
}

.procent {
    text-align: center;
    float: left;
    padding: 10px;
}

.procent p {
    margin: 3px;
    padding: 0;
    font-weight: bold;
}

.square {
    width: 10px;
    height: 10px;
    color: rgb(22, 148, 106);
    margin-right: 5px;
    padding: 5px;
    float: left;
}

.status {
    position: relative;
    float: left;
}

.cup {
    width: 300px;
    height: 70px;
}

.loading_cup {
    position: absolute;
    border: 2px solid #3d6276;
    border-radius: 20px;
    z-index: 2;
}

.loading_part {
    position: absolute;
    border-radius: 20px;
    top: 2px;
    z-index: -1;
    width: 200px;
    background: repeating-linear-gradient(
        45deg,
        #d7ebf5 0px,
        #d7ebf5 15px,
        #abc5d4 15px,
        #abc5d4 30px
    );
}


.status p {
    position: absolute;
    width: 0px;
    left: 150px;
    font-size: 20px;
    color: #233843;
    font-weight: 600;
}