body {
    align-content: center;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(243, 243, 243);
}

.board {
    width: 1001px;
    height: 100%;
    padding: 10px;
    margin: auto;
    background: white;
}

.general-cell {
    border: 2px solid rgb(22, 148, 106);
    border-radius: 15px;
    padding: 20px;
    float: left;
    margin: 20px 20px 0 0;
}

/* INSERT CELL FORM */
.form {
    float: left;
    height: 140px;
    margin-right: 20px;
    border: 1px solid rgb(22, 148, 106);
    border-radius: 15px;
    padding: 5px;
}

.form h3 {
    margin: 0 0 0 0;
}

/* WEEK VISUALISATION PROCENT BOARD */
.box-of-line-procentage-of-week-implementation {
    position: relative;
    float: left;
    width: 300px;
    height: 70px;
}

.line-procentage-of-week-implementation {
    width: 300px;
    height: 70px;
}

.body-of {
    position: absolute;
    border: 2px solid #3d6276;
    border-radius: 20px;
    z-index: 2;
}

.covered-part-of {
    position: absolute;
    border-radius: 20px;
    top: 2px;
    z-index: -1;
    width: 200px;
    background: repeating-linear-gradient(
        45deg,
        #d7ebf5 0px,
        #d7ebf5 15px,
        #abc5d4 15px,
        #abc5d4 30px
    );
}

.box-of-line-procentage-of-week-implementation p {
    position: absolute;
    width: 0px;
    left: 150px;
    font-size: 20px;
    color: #233843;
    font-weight: 600;
}